.entry-quiz-popup {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.entry-quiz-modal {
    background: #fff;
    border-radius: 10px;
    padding: 32px 24px;
    min-width: 340px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
}

.input-error {
    border-color: red !important;
}

.modal-font {
    color: #000;
}

.question-label {
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    text-align: left;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.modal-container {
    padding: 20px 5px;
}

.error-text {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}